body{
    display: flex;
    margin: 0;
    padding-left: 37%;
    padding-right: 37%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.login{
    background-color: rgb(40, 38, 38);
    border-radius: 20px;
    text-align: center;
    padding-top: 1%;
}

.login h1{
    font-size: 20px;
    color: white;
}

.datos{
    flex-direction: column;
}

.datos input{
    border-radius: 8px;
    height: 25px;
    width: 80%;
    font-size: 15px;
}

.datos p{
    margin-left: 10%;
    color: white;
    text-align: left;
}

.botones input{
    font-size: 20px;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: #608190;
}

@media (max-width: 1000px){

    body{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 580px){

    body{
        padding-left: 10%;
        padding-right: 10%;
    }
}